<footer @attributes=AdditionalAttributes>
    <div class="footer-content">
        <section class="ar-logo-wrapper">
            <Logo Size="13rem" 
                  LogoType=LogoType.Svg 
                  ShowShadow=true 
                  ShadowColor="rgba(244, 244, 234, .2)"
                  TextPosition=TextPosition.Below />
        </section>

        <section class="app-page-links">
            <ul>
                <li><a href="#!">@SharedLocalizerService.ContactUs</a></li>
                <li><a href="#!">@SharedLocalizerService.About</a></li>
                <li><a href="#!">@SharedLocalizerService.Privacy</a></li>
                <li><a href="#!">@SharedLocalizerService.SiteMap</a></li>
            </ul>
        </section>

        <section class="social-links">
            <ul>
                <li><a href="#!"><i class="social-icon ri ri-twitter-x-fill" /> <span class="social-title">X</span></a></li>
                <li><a href="#!"><i class="social-icon ri ri-facebook-box-fill" /> <span class="social-title">Facebook</span></a></li>
                <li><a href="#!"><i class="social-icon ri ri-github-fill" /> <span class="social-title">GitHub</span></a></li>
                <li><a href="#!"><i class="social-icon ri ri-linkedin-box-fill" /> <span class="social-title">LinkedIn</span></a></li>
            </ul>
        </section>
    </div>
    <div class="disclaimer">
        <span>@string.Format(SharedLocalizerService.Copyright, DateTime.Now.Year)</span>
    </div>
</footer>
