@using FinanMan.Shared.IdentityModels

<div class="login-form-wrapper">
    <EditForm Model=_loginModel OnValidSubmit=HandleLoginSubmitted>
        <Card>
            <CardHeader>
                @SharedLocalizerService.LogIn
            </CardHeader>
            <CardBody>
                <CardText>
                    <div class="form-group">
                        <label>@SharedLocalizerService.Username</label>
                        <InputText @bind-Value=_loginModel.Username />
                    </div>
                    <div class="form-group">
                        <label>@SharedLocalizerService.Password</label>
                        <InputText type="password" @bind-Value=_loginModel.Password />
                    </div>
                </CardText>
            </CardBody>
            <CardFooter>
                <button type="submit" class="invert">Sign In</button>
                <div class="extra-links">
                    <a href="#!">@SharedLocalizerService.ForgotPassword</a>
                    <a href="#!">@SharedLocalizerService.SignUp</a>
                </div>
            </CardFooter>
        </Card>
    </EditForm>
</div>

@code {
    private LoginModel _loginModel = new();

    private Task HandleLoginSubmitted(EditContext editContext)
    {
        return Task.CompletedTask;
    }
}