@page "/"
@using FinanMan.BlazorUi.FlyoutContentComponents
@using FinanMan.Shared.DataEntryModels
@using System.Globalization
@using FinanMan.SharedLocalization.Extensions
@implements IDisposable

<PageTitle>@SharedLocalizer["IndexTitle"]</PageTitle>

<article class="page index-page">
    <header class="hero">
        <div class="hero-filter"></div>
        <div class="content">
            <div class="title">
                @SharedLocalizer["HeroTitle"]
                <span class="sub-title">@SharedLocalizer["HeroSubtitle"]</span>
            </div>
            <LoginForm />
        </div>
    </header>
    <section class="content">
        <FinanMan.BlazorUi.Components.AccountSummaryComponents.AccountSummary />
        <div class="card-wrapper">
            <Card>
                <CardHeader>
                    @SharedLocalizer["TrackHeader"]
                </CardHeader>
                <CardBody>
                    <CardText>
                        @SharedLocalizer["TrackBodyContent"]
                    </CardText>
                </CardBody>
                <CardFooter>
                    <button type="button">
                        @SharedLocalizer["GetStartedButtonText"]
                    </button>
                </CardFooter>
            </Card>
            <Card>
                <CardHeader>
                    @SharedLocalizer["WatchHeader"]
                </CardHeader>
                <CardBody>
                    <CardText>
                        @SharedLocalizer["WatchBodyContent"]
                    </CardText>
                </CardBody>
                <CardFooter>
                    <button type="button">
                        @SharedLocalizer["GetStartedButtonText"]
                    </button>
                </CardFooter>
            </Card>
            <Card>
                <CardHeader>
                    @SharedLocalizer["PlanHeader"]
                </CardHeader>
                <CardBody>
                    <CardText>
                        @SharedLocalizer["PlanBodyContent"]
                    </CardText>
                </CardBody>
                <CardFooter>
                    <button type="button">
                        @SharedLocalizer["GetStartedButtonText"]
                    </button>
                </CardFooter>
            </Card>
        </div>
    </section>
    <footer>
        <section>
            <span class="header">
                <a href="data-entry">
                    @SharedLocalizer["DataEntry"]
                </a>
            </span>
            <ul>
                <li>@SharedLocalizer["Payment"]</li>
                <li>@SharedLocalizer["Deposit"]</li>
                <li>@SharedLocalizer["Transfer"]</li>
            </ul>
        </section>
        <section>
            <span class="header">@SharedLocalizer["About"]</span>
            <ul>
                <li>@SharedLocalizer["AboutAutomatedRealms"]</li>
                <li>@SharedLocalizer["CoreValues"]</li>
                <li><button type="button" @onclick=HandleContactUsClicked>@SharedLocalizer["ContactUs"]</button></li>
            </ul>
        </section>
    </footer>
</article>

@code {
    [Inject] private IUiState UiState { get; set; } = default!;

    private DepositEntryViewModel _newDeposit = new();
    private EditContext _editContext = default!;

    protected override void OnInitialized()
    {
    }

    private void HandleContactUsClicked()
    {
        UiState.FlyoutVisible = false;
        UiState.FlyoutContent = (builder) =>
        {
            builder.OpenComponent<ContactUsFlyoutContent>(0);
            builder.CloseComponent();
        };
        UiState.FlyoutVisible = true;
    }

    public void Dispose()
    {

    }
}


