@page "/"
@using FinanMan.BlazorUi.FlyoutContentComponents
@using FinanMan.BlazorUi.SharedComponents.AccordionListComponents
@using FinanMan.Shared.DataEntryModels
@using System.Globalization
@using FinanMan.SharedLocalization.Extensions
@implements IDisposable

<PageTitle>@SharedLocalizerService.IndexTitle</PageTitle>

<article class="page index-page">
    <header id="hero">
        <div class="title-wrapper">
            <span class="title">@SharedLocalizerService.HeroTitle</span>
            <span class="sub-title">@SharedLocalizerService.HeroSubtitle</span>
            <button id="btnHeroGetStarted" class="btn btn-primary">Get Started</button>
        </div>
        <div class="app-preview-wrapper">
            <img src="_content/FinanMan.BlazorUi/imgs/app-preview.png" alt="@SharedLocalizerService.HeroPreviewImageAltText" />
        </div>
    </header>
    <section id="secTrackTransactions" class="content">
        <h1 class="section-title">
            @SharedLocalizerService.TrackTransactionsHeader
        </h1>

        <div class="section-sub-title-wrapper">
            <span class="section-sub-title">
                @SharedLocalizerService.TrackTransactionsSubTitle
            </span>
        </div>
        <div class="card-wrapper">
            <Card>
                <CardHeader>
                    <img src="_content/FinanMan.BlazorUi/imgs/piggy-bank.png" alt="@SharedLocalizerService.PiggyBankImageAltText" />
                </CardHeader>
                <CardBody>
                    <CardText>
                        <h2 class="title">
                            @SharedLocalizerService.Deposits
                        </h2>
                        <span class="content">
                            @SharedLocalizerService.DepositsOverviewDescription
                        </span>
                    </CardText>
                </CardBody>
                <CardFooter>
                </CardFooter>
            </Card>
            <Card>
                <CardHeader>
                    <img src="_content/FinanMan.BlazorUi/imgs/card-transaction.png" alt="@SharedLocalizerService.CardTransactionImageAltText" />
                </CardHeader>
                <CardBody>
                    <CardText>
                        <h2 class="title">
                            @SharedLocalizerService.Payments
                        </h2>
                        <span class="content">
                            @SharedLocalizerService.PaymentsOverviewDescription
                        </span>
                    </CardText>
                </CardBody>
                <CardFooter>
                </CardFooter>
            </Card>
            <Card>
                <CardHeader>
                    <img src="_content/FinanMan.BlazorUi/imgs/general-ledger.png" alt="@SharedLocalizerService.GeneralLedgerImageAltText" />
                </CardHeader>
                <CardBody>
                    <CardText>
                        <h2 class="title">
                            @SharedLocalizerService.Transfers
                        </h2>
                        <span class="content">
                            @SharedLocalizerService.DepositsOverviewDescription
                        </span>
                    </CardText>
                </CardBody>
                <CardFooter>
                </CardFooter>
            </Card>
        </div>
        <button type="button">
            @SharedLocalizerService.GetStartedButtonText
        </button>
    </section>
    <section id="secViewTransactionHist" class="content">
        <h1 class="section-title">
            @SharedLocalizerService.TransactionHistoryHeader
        </h1>
        <div class="section-sub-title-wrapper">
            <span class="section-sub-title">
                @SharedLocalizerService.TransactionHistorySubTitle
            </span>
        </div>
        <div class="preview-image-wrapper">
            <img src="_content/FinanMan.BlazorUi/imgs/transaction-history-chart-preview.png" alt="@SharedLocalizerService.ViewTransactionHistoryChartAltText" />
            <img src="_content/FinanMan.BlazorUi/imgs/transaction-history-grid-preview.png" alt="@SharedLocalizerService.ViewTransactionHistoryGridAltText" />
        </div>
        <button type="button">
            @SharedLocalizerService.GetStartedButtonText
        </button>
    </section>
    <footer>
        <section class="ar-logo-wrapper">
            <Logo LogoType=LogoType.Svg ShowShadow=true ShaddowColor="rgba(244, 244, 234, .2)" />
            <span class="company-name">Automated Realms</span>
            <span class="tag-line">Enhancing Life Through Automation</span>
        </section>
        <section class="app-page-links">
            <ul>
                <li>@SharedLocalizerService.ContactUs</li>
                <li>@SharedLocalizerService.About</li>
                <li>@SharedLocalizerService.Privacy</li>
                <li>@SharedLocalizerService.SiteMap</li>
            </ul>
        </section>
        <section class="social-links">
            <ul>
                <li><i class="social-icon ri ri-twitter-x-fill" /> <span class="social-title">X</span></li>
                <li><i class="social-icon ri ri-facebook-box-fill" /> <span class="social-title">Facebook</span></li>
                <li><i class="social-icon ri ri-github-fill" /> <span class="social-title">GitHub</span></li>
                <li><i class="social-icon ri ri-linkedin-box-fill" /> <span class="social-title">LinkedIn</span></li>
            </ul>
        </section>
    </footer>
</article>
