@page "/"
@using FinanMan.BlazorUi.FlyoutContentComponents
@using FinanMan.Shared.DataEntryModels
@using System.Globalization
@using FinanMan.SharedLocalization.Extensions
@implements IDisposable

<PageTitle>@SharedLocalizerService.IndexTitle</PageTitle>

<article class="page index-page">
    <header class="hero">
        <div class="content">
            <div class="title">
                @SharedLocalizerService.HeroTitle
                <span class="sub-title">@SharedLocalizerService.HeroSubtitle</span>
                <button id="btnHeroGetStarted" class="btn btn-primary">Get Started</button>
            </div>
            <div class="app-preview-wrapper">
                <img src="_content/FinanMan.BlazorUi/imgs/app-preview.png" alt="@SharedLocalizerService.HeroPreviewImageAltText" />
            </div>
        </div>
    </header>
    <section id="secTrackTransactions" class="content">
        <h1 class="section-title">
            @SharedLocalizerService.TrackTransactionsHeader
        </h1>
        <span class="section-sub-title">
            @SharedLocalizerService.TrackTransactionsSubTitle
        </span>
        <div class="card-wrapper">
            <Card>
                <CardHeader>
                    <img src="_content/FinanMan.BlazorUi/imgs/piggy-bank.png" alt="@SharedLocalizerService.PiggyBankImageAltText" />
                </CardHeader>
                <CardBody>
                    <CardText>
                        <span>
                            @SharedLocalizerService.Deposits
                        </span>
                        <span>
                            @SharedLocalizerService.DepositsOverviewDescription
                        </span>
                    </CardText>
                </CardBody>
                <CardFooter>
                </CardFooter>
            </Card>
            <Card>
                <CardHeader>
                    <img src="_content/FinanMan.BlazorUi/imgs/card-transaction.png" alt="@SharedLocalizerService.CardTransactionImageAltText" />
                </CardHeader>
                <CardBody>
                    <CardText>
                        <span>
                            @SharedLocalizerService.Payments
                        </span>
                        <span>
                            @SharedLocalizerService.PaymentsOverviewDescription
                        </span>
                    </CardText>
                </CardBody>
                <CardFooter>
                </CardFooter>
            </Card>
            <Card>
                <CardHeader>
                    <img src="_content/FinanMan.BlazorUi/imgs/general-ledger.png" alt="@SharedLocalizerService.GeneralLedgerImageAltText" />
                </CardHeader>
                <CardBody>
                    <CardText>
                        <span>
                            @SharedLocalizerService.Transfers
                        </span>
                        <span>
                            @SharedLocalizerService.DepositsOverviewDescription
                        </span>
                    </CardText>
                </CardBody>
                <CardFooter>
                </CardFooter>
            </Card>
        </div>
        <button type="button">
            @SharedLocalizerService.GetStartedButtonText
        </button>
    </section>
    <section id="secTrackTransactions" class="content">
        <h1 class="section-title">
            @SharedLocalizerService.TransactionHistoryHeader
        </h1>
        <span class="section-sub-title">
            @SharedLocalizerService.TransactionHistorySubTitle
        </span>
        <div class="card-wrapper">
            
        </div>
        <button type="button">
            @SharedLocalizerService.GetStartedButtonText
        </button>
    </section>
    <footer>
        <section>
            <span class="header">
                <a href="data-entry">
                    @SharedLocalizerService.DataEntry
                </a>
            </span>
            <ul>
                <li>@SharedLocalizerService.Payment</li>
                <li>@SharedLocalizerService.Deposit</li>
                <li>@SharedLocalizerService.Transfer</li>
            </ul>
        </section>
        <section>
            <span class="header">@SharedLocalizerService.About</span>
            <ul>
                <li>@SharedLocalizerService.AboutAutomatedRealms</li>
                <li>@SharedLocalizerService.CoreValues</li>
                <li><button type="button" @onclick=HandleContactUsClicked>@SharedLocalizerService.ContactUs</button></li>
            </ul>
        </section>
    </footer>
</article>
