@using FinanMan.Database.Models.Tables
@using FinanMan.Shared.DataEntryModels

<div class="data-entry-wrapper">
    <EditForm Model=_newDeposit id="depositEntryForm" class="data-entry-form" OnValidSubmit="HandleDepositSubmitted">
        <DataAnnotationsValidator />
        @if (_currentResponse?.WasError ?? false)
        {
            <div class="error-message-wrapper">
                @_currentResponse.RenderError
            </div>
        }
        
        <div id="transDate" class="form-group">
            <label>Date</label>
            <InputDate @bind-Value=_newDeposit.TransactionDate />
        </div>

        <div id="account" class="form-group">
            <label>To Account</label>
            <InputSelect @bind-Value=_newDeposit.TargetAccountValueText>
                <option value="">--Select Account--</option>
                @if (_accounts is not null)
                {
                    foreach (var curAccount in _accounts)
                    {
                        <option value="@curAccount.ValueText">@curAccount.DisplayText</option>
                    }
                }
            </InputSelect>
        </div>

        <div id="reason" class="form-group">
            <label>Deposit Reason</label>
            <InputSelect @bind-Value=_newDeposit.DepositReasonValueText>
                <option value="">--Select Deposit--</option>
                @if (_depositReasons is not null)
                {
                    foreach (var curDeposit in _depositReasons)
                    {
                        <option value="@curDeposit.ValueText">@curDeposit.DisplayText</option>
                    }
                }
            </InputSelect>
        </div>

        <div id="amount" class="form-group">
            <label>Amount</label>
            <InputNumber step=".01" @bind-Value=_newDeposit.Amount />
        </div>

        <div id="memo" class="form-group">
            <label>Memo</label>
            <InputText @bind-Value=_newDeposit.Memo />
        </div>

        <div id="saveButton" class="form-group">
            <button type="submit">Submit</button>
        </div>
    </EditForm>
</div>
