@using FinanMan.Database.Models.Tables
@using FinanMan.Shared.DataEntryModels

<div class="data-entry-wrapper">
    <EditForm Model=_editDeposit id="depositEntryForm" class="data-entry-form" OnValidSubmit="HandleDepositSubmitted">
        <DataAnnotationsValidator />
        @if (_currentResponse?.WasError ?? false)
        {
            <div class="error-message-wrapper">
                @_currentResponse.RenderError
            </div>
        }
        
        <div id="transDate" class="form-group">
            <label>Date</label>
            <InputDate @bind-Value=_editDeposit.TransactionDate @ref=_depDateInputRef />
            <p>
                <ValidationMessage For="() => _editDeposit.TransactionDate" class="text-danger" />
            </p>
        </div>

        <div id="account" class="form-group">
            <label>To Account</label>
            <InputSelect @bind-Value=_editDeposit.TargetAccountValueText>
                <option value="">--Select Account--</option>
                @if (_accounts is not null)
                {
                    foreach (var curAccount in _accounts)
                    {
                        <option value="@curAccount.ValueText">@curAccount.DisplayText</option>
                    }
                }
            </InputSelect>
            <p>
                <ValidationMessage For="() => _editDeposit.TargetAccountValueText" class="text-danger" />
            </p>
        </div>

        <div id="reason" class="form-group">
            <label>Deposit Reason</label>
            <InputSelect @bind-Value=_editDeposit.DepositReasonValueText>
                <option value="">--Select Deposit--</option>
                @if (_depositReasons is not null)
                {
                    foreach (var curDeposit in _depositReasons)
                    {
                        <option value="@curDeposit.ValueText">@curDeposit.DisplayText</option>
                    }
                }
            </InputSelect>
        </div>

        <div id="amount" class="form-group">
            <label>Amount</label>
            <InputNumber step=".01" @bind-Value=_editDeposit.Amount />
        </div>

        <div id="memo" class="form-group">
            <label>Memo</label>
            <InputText @bind-Value=_editDeposit.Memo />
        </div>

        <div id="saveButton" class="form-group">
            <button type="submit">Submit</button>
        </div>

        @*<EditFormNavigationLock EditContext=context />*@
    </EditForm>
</div>
