@using FinanMan.Database.Models.Tables
@using FinanMan.Shared.DataEntryModels

<div class="data-entry-wrapper">
    <EditForm Model=_newLineItem Context="newLineItem" @ref=_lineItemEntryEditForm>
        <EditForm Model=_editPayment Context="paymentDataEntryItem" id="paymentEntryForm" class="data-entry-form" @ref=_paymentEntryEditForm>
            <DataAnnotationsValidator />
            <div id="transDate" class="form-group">
                <label id="lblSomeId" aria-label="someId" for="someId">Transaction Date</label>
                <InputDate id="someId" aria-labelledby="lblSomeId" @bind-Value=_editPayment.TransactionDate />
                <ValidationMessage For="() => _editPayment.TransactionDate" />
            </div>

            <div id="payee" class="form-group">
                <label>Payee</label>
                <InputSelect @bind-Value=_editPayment.PayeeValueText>
                    <option value="">--Select Payee--</option>
                    @if (_payees is not null)
                    {
                        foreach (var curLiType in _payees)
                        {
                            <option value="@curLiType.ValueText">@curLiType.DisplayText</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="() => _editPayment.PayeeValueText" />
            </div>

            <div id="memo" class="form-group">
                <label>Memo</label>
                <InputText @bind-Value=_editPayment.Memo />
                <ValidationMessage For="() => _editPayment.Memo" />
            </div>

            <div id="lineItemType" class="form-group">
                <label>Line Item Type</label>
                <InputSelect @bind-Value=_newLineItem.LineItemTypeValueText>
                    <option value="">--Select Line Item Type--</option>
                    @if (_lineItemTypes is not null)
                    {
                        foreach (var curLiType in _lineItemTypes)
                        {
                            <option value="@curLiType.ValueText">@curLiType.DisplayText</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="() => _newLineItem.LineItemTypeValueText" />
            </div>

            <div id="lineItemDetail" class="form-group">
                <label>Detail</label>
                <InputText @bind-Value=_newLineItem.Detail />
                <ValidationMessage For="() => _newLineItem.Detail" />
            </div>

            <div id="lineItemAmount" class="form-group">
                <label>Amount</label>
                <input type="number" step=".01" @bind=_newLineItem.Amount />
                <ValidationMessage For="() => _newLineItem.Amount" />
            </div>

            <div id="addLineItemButton" class="form-group">
                <button type="button" @onclick=HandleLineItemSubmitted>Add</button>
            </div>

            <div id="transactionDetails" class="transaction-details">
                <PaymentDetailsTable Payment=_editPayment />
            </div>

            <div id="postedDate" class="form-group">
                <label>Posted Date</label>
                <InputDate @bind-Value=_editPayment.PostedDate />
                <ValidationMessage For="() => _editPayment.PostedDate" />
            </div>

            <div id="account" class="form-group">
                <label>Account</label>
                <InputSelect @bind-Value=_editPayment.AccountValueText>
                    <option value="">--Select Account--</option>
                    @if (_accounts is not null)
                    {
                        foreach (var curAccount in _accounts)
                        {
                            <option value="@curAccount.ValueText">@curAccount.DisplayText</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="() => _editPayment.PostedDate" />
            </div>
            <div id="saveButton" class="form-group">
                <button type="button" @onclick=HandlePaymentSubmitted title="Submit">Submit</button>
            </div>
            @*<EditFormNavigationLock EditContext=paymentDataEntryItem />*@
        </EditForm>
    </EditForm>
</div>
