@using FinanMan.Database.Models.Tables
@using FinanMan.Shared.DataEntryModels

<div class="data-entry-wrapper">
    <EditForm Model=_newTransfer id="transferEntryForm" class="data-entry-form" OnValidSubmit=HandleTransferSubmitted>
        <DataAnnotationsValidator />
        <div id="transferDate" class="form-group">
            <label>Date</label>
            <InputDate @bind-Value=_newTransfer.TransactionDate />
        </div>

        <div id="amount" class="form-group">
            <label>Amount</label>
            <InputNumber step=".01" @bind-Value=_newTransfer.Amount />
        </div>

        <div id="fromAccount" class="form-group">
            <label>From Account</label>
            <InputSelect @bind-Value=_newTransfer.SourceAccountValueText>
                <option value="">--Select Account--</option>
                @if (_accounts is not null)
                {
                    foreach (var curAccount in _accounts)
                    {
                        <option value="@curAccount.ValueText">@curAccount.DisplayText</option>
                    }
                }
            </InputSelect>
            <span>@_newTransfer.SourceAccountValueText</span>
        </div>

        <div id="toAccount" class="form-group">
            <label>To Account</label>
            <InputSelect @bind-Value=_newTransfer.TargetAccountValueText>
                <option value="">--Select Account--</option>
                @if (_accounts is not null)
                {
                    foreach (var curAccount in _accounts.Where(x => x.ValueText != _newTransfer.SourceAccountValueText))
                    {
                        <option value="@curAccount.ValueText">@curAccount.DisplayText</option>
                    }
                }
            </InputSelect>
            <span>@_newTransfer.TargetAccountValueText</span>
        </div>

        <div id="memo" class="form-group">
            <label>Memo</label>
            <InputText @bind-Value=_newTransfer.Memo />
        </div>

        <div id="saveButton" class="form-group">
            <button type="submit">Submit</button>
        </div>
        <EditFormNavigationLock EditContext=context />
    </EditForm>
</div>
