@if (Show)
{
    <div id="calcContainer" 
         data-active="@_active" 
         @onclick=HandleContainerClicked
         @onmousedown=HandleMouseDown>
        <button type="button" 
                class="focus-button" 
                aria-hidden="true"
                @onmouseup=HandleMouseUp
                @onkeydown=HandleKeyPress
                @ref=_focusButtonRef></button>
        <Card>
            <CardHeader>
                <button type="button" class="dismiss-button" @onclick=HandleDismissClicked @onclick:stopPropagation=true @onmousedown:stopPropagation=true>&times;</button>
                <div class="calc-output">
                    <span class="formula-output" id="formulaOutput">
                        @((MarkupString)_formulaOutput)
                    </span>
                    <span class="formula-output">
                        &nbsp;
                    </span>
                </div>
            </CardHeader>
            <CardBody>
                <CardText>
                    <span id="numberOutput">
                        @($"{DisplayedInputNum}{(_decimalActive && _decimalPart.Length == 0 ? "." : string.Empty)}")
                    </span>
                    <div class="calc-buttons">
                        @* Change the element order so that the tab tabs correctly*@
                        <button id="btn-remove" title="Backspace" @onkeydown=HandleKeyPress @onclick=HandleRemove @onclick:stopPropagation=true @onmousedown:stopPropagation=true>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M7.95 19L3 12l4.95-7H21v14H7.95Zm3.45-3l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L18 9.4L16.6 8L14 10.6L11.4 8L10 9.4l2.6 2.6l-2.6 2.6l1.4 1.4Z" />
                            </svg>
                        </button>
                        <button id="btn-divide" class="@(_activeOp == Operator.Divide ? "active" : null)" @onkeydown=HandleKeyPress @onclick="_ => HandleOperatorClicked(Operator.Divide)" title="Divide" @onclick:stopPropagation=true @onmousedown:stopPropagation=true>@((MarkupString)Operator.Divide.GetDisplayText())</button>
                        <button id="btn-multiply" class="@(_activeOp == Operator.Multiply ? "active" : null)" @onkeydown=HandleKeyPress @onclick="_ => HandleOperatorClicked(Operator.Multiply)" title="Multiply" @onclick:stopPropagation=true @onmousedown:stopPropagation=true>@Operator.Multiply.GetDisplayText()</button>
                        <button id="btn-minus" class="@(_activeOp == Operator.Subtract ? "active" : null)" @onkeydown=HandleKeyPress @onclick="_ => HandleOperatorClicked(Operator.Subtract)" title="Subtract" @onclick:stopPropagation=true @onmousedown:stopPropagation=true>@Operator.Subtract.GetDisplayText()</button>
                        <button id="btn-plus" class="@(_activeOp == Operator.Add ? "active" : null)" @onkeydown=HandleKeyPress @onclick="_ => HandleOperatorClicked(Operator.Add)" title="Add" @onclick:stopPropagation=true @onmousedown:stopPropagation=true>@Operator.Add.GetDisplayText()</button>
                        <button id="btn-submit" @onkeydown=HandleKeyPress @onclick="_ => HandleOperatorClicked(Operator.Submit)" @onclick:stopPropagation=true @onmousedown:stopPropagation=true>@Operator.Submit.GetDisplayText()</button>
                        @for (var i = 1; i < 10; i++)
                        {
                            var key = i;
                            <button type="button" id="btn-@key" @onkeydown=HandleKeyPress @onclick="_ => HandleNumberClicked(key)" @onclick:stopPropagation=true @onmousedown:stopPropagation=true>@key</button>
                        }
                        <button type="button" id="btn-n" class="@(DisplayedInputNum < 0 ? "active" : null)" @onkeydown=HandleKeyPress @onclick=HandleNegateClicked @onclick:stopPropagation=true @onmousedown:stopPropagation=true>+/-</button>
                        <button type="button" id="btn-0" @onkeydown=HandleKeyPress @onclick="_ => HandleNumberClicked(0)" @onclick:stopPropagation=true @onmousedown:stopPropagation=true>0</button>
                        <button type="button" id="btn-decimal" class="@(_decimalActive ? "active" : null)" disabled="@(!string.IsNullOrWhiteSpace(_decimalPart))" @onkeydown=HandleKeyPress @onclick=HandleDecimalClicked @onclick:stopPropagation=true @onmousedown:stopPropagation=true>.</button>
                        <button type="button" id="btn-clear" @onkeydown=HandleKeyPress @onclick=HandleClearClicked @onclick:stopPropagation=true @onmousedown:stopPropagation=true>Clear</button>
                        <button type="button" id="btn-clearAll" @onkeydown=HandleKeyPress @onclick=HandleClearAllClicked @onclick:stopPropagation=true @onmousedown:stopPropagation=true>Clear All</button>
                    </div>
                </CardText>
            </CardBody>
        </Card>
    </div>
}
