@if (Show)
{
    <div id="calcContainer">
        <TemplatedModal Show=Show ShowChanged=HandleShowChanged>
            <ModalHeader>
                <div class="calc-output">
                    <span class="formula-output">@_formulaOutput</span>
                    <span class="formula-output">
                        @if (_currentValue.HasValue)
                        {
                            <text>@NextFormula</text>
                        }
                    </span>
                </div>
            </ModalHeader>
            <ModalContent>
                <span id="numberOutput">@NumOutput</span>
                <div class="calc-buttons">
                    @foreach(var key in _numPadItems)
                    {
                        <button type="button" id="btn@key" @onclick="_ => HandleNumberClicked(key)">@key</button>
                    }
                    <button type="button" id="btnNegate" @onclick=HandleNegateClicked>+/-</button>
                    <button type="button" id="btn0" @onclick="_ => HandleNumberClicked(0)">0</button>
                    <button type="button" id="btnDecimal" class="@(_decimalActive ? "active" : null)" disabled="@(_decimalPart > 0)" @onclick=HandlePeriodClicked>.</button>
                </div>
                <div>
                    <button id="remove" @onclick=HandleRemove>Remove</button>
                    <button id="plus" class="@(_activeOp == Operator.Add ? "active" : null)" @onclick="_ => HandleOperatorClicked(Operator.Add)">@Operator.Add.GetDisplayText()</button>
                    <button id="minus" class="@(_activeOp == Operator.Subtract ? "active" : null)" @onclick="_ => HandleOperatorClicked(Operator.Subtract)">@Operator.Subtract.GetDisplayText()</button>
                    <button id="mult" class="@(_activeOp == Operator.Multiply ? "active" : null)" @onclick="_ => HandleOperatorClicked(Operator.Multiply)">@Operator.Multiply.GetDisplayText()</button>
                    <button id="div" class="@(_activeOp == Operator.Divide ? "active" : null)" @onclick="_ => HandleOperatorClicked(Operator.Divide)">@Operator.Divide.GetDisplayText()</button>
                    <button id="calc" @onclick="_ => HandleOperatorClicked(Operator.Submit)">@Operator.Submit.GetDisplayText()</button>
                    <button id="clear" @onclick=HandleClearAllClicked>clear all</button>
                </div>
            </ModalContent>
        </TemplatedModal>
    </div>
}