
<section id="secViewTransactionHist" class="content">
    <h1 class="section-title">
        @SharedLocalizerService.TransactionHistoryHeader
    </h1>
    <div class="section-sub-title-wrapper">
        <span class="section-sub-title">
            @SharedLocalizerService.TransactionHistorySubTitle
        </span>
    </div>
    <div class="preview-image-wrapper">
        <img src="_content/FinanMan.BlazorUi/imgs/transaction-history-chart-preview.png" alt="@SharedLocalizerService.ViewTransactionHistoryChartAltText" />
        <img src="_content/FinanMan.BlazorUi/imgs/transaction-history-grid-preview.png" alt="@SharedLocalizerService.ViewTransactionHistoryGridAltText" />
    </div>
    <div class="clear-fix"></div>
    <button type="button">
        @SharedLocalizerService.GetStartedButtonText
    </button>
</section>