@using System.Diagnostics.CodeAnalysis;

@*
    The Automated Realms Logo is property of Automated Realms, LLC and cannot be used without permission.
    It can be used in this project as it is part of the project's branding, but only if the code has not been modified.
*@

<div id="@($"{_id}-wrapper")" class="logo-wrapper" style="@Styles">
    @switch (LogoType)
    {
        case LogoType.Png:
            <img src="@ImageSrc" alt="@SharedLocalizerService.AutomatedRealmsLogoAltText" class="logo">
            break;
        case LogoType.Svg:
        case LogoType.AnimatedSvg:
            var gradShadow = $"var(--color2, url(#{_id}-shadow-gradient))";
            var gradTopRight = $"url(#{_id}-gradient_top_right)";
            var gradTopeLeft = $"url(#{_id}-gradient_top_left)";
            var gradBottomLeft = $"url(#{_id}-gradient_bottom_left)";
            var gradBottomRight = $"url(#{_id}-gradient_bottom_right)";

            <svg id="@($"{_id}-logo")" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 433.78 207.36" @ref=_logoSvg>
                <defs>
                    <style>
                        .text-character {
                            fill: currentColor;
                        }

                        .graphic-group {
                            isolation: isolate;
                        }
                    </style>
                    <linearGradient id="@($"{_id}-shadow-gradient")" x1="68.67" y1="187.52" x2="308.28" y2="185.92" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#fff" />
                        <stop offset=".11" stop-color="#fafafa" />
                        <stop offset=".24" stop-color="#ededed" />
                        <stop offset=".37" stop-color="#d6d6d6" />
                        <stop offset=".5" stop-color="#b7b7b7" />
                        <stop offset=".64" stop-color="#8f8f8f" />
                        <stop offset=".78" stop-color="#5e5e5e" />
                        <stop offset=".92" stop-color="#252525" />
                        <stop offset="1" stop-color="#000" />
                    </linearGradient>
                    <linearGradient id="@($"{_id}-gradient_top_right")" x1="58.13" y1="10.71" x2="154.79" y2="76.45" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#652b84" />
                        <stop offset=".14" stop-color="#60297e" />
                        <stop offset=".34" stop-color="#502269" />
                        <stop offset=".58" stop-color="#481f5f" />
                        <stop offset=".84" stop-color="#1d0d26" />
                        <stop offset="1" stop-color="#100715" />
                        @*<stop offset="0" stop-color="#804e99" />
                        <stop offset=".14" stop-color="#7a4a92" />
                        <stop offset=".34" stop-color="#6b4180" />
                        <stop offset=".58" stop-color="#513262" />
                        <stop offset=".84" stop-color="#2e1d38" />
                        <stop offset="1" stop-color="#160f1b" />*@
                    </linearGradient>
                    <linearGradient id="@($"{_id}-gradient_top_left")" x1="1.34" y1="104.68" x2="92.67" y2="29.08" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#652b84" />
                        <stop offset=".14" stop-color="#60297e" />
                        <stop offset=".34" stop-color="#502269" />
                        <stop offset=".58" stop-color="#481f5f" />
                        <stop offset=".84" stop-color="#1d0d26" />
                        <stop offset="1" stop-color="#100715" />
                        @*<stop offset="0" stop-color="#804e99" />
                        <stop offset=".16" stop-color="#7b4b93" />
                        <stop offset=".34" stop-color="#6f4485" />
                        <stop offset=".54" stop-color="#5b386d" />
                        <stop offset=".75" stop-color="#3f274b" />
                        <stop offset=".97" stop-color="#1b1221" />
                        <stop offset="1" stop-color="#160f1b" />
                        *@
                    </linearGradient>
                    <linearGradient id="@($"{_id}-gradient_bottom_left")" x1="26.88" y1="94.7" x2="90.09" y2="185.28" gradientTransform="translate(5.92 -2.66) rotate(-.22)" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#652b84" />
                        <stop offset=".14" stop-color="#60297e" />
                        <stop offset=".34" stop-color="#502269" />
                        <stop offset=".58" stop-color="#481f5f" />
                        <stop offset=".84" stop-color="#1d0d26" />
                        <stop offset="1" stop-color="#100715" />
                        @*<stop offset="0" stop-color="#804e99" />
                        <stop offset=".16" stop-color="#7c4b94" />
                        <stop offset=".35" stop-color="#704587" />
                        <stop offset=".54" stop-color="#5e3970" />
                        <stop offset=".73" stop-color="#442a51" />
                        <stop offset=".93" stop-color="#22162a" />
                        <stop offset="1" stop-color="#160f1b" />
                        *@
                    </linearGradient>
                    <linearGradient id="@($"{_id}-gradient_bottom_right")" x1="190.42" y1="76.81" x2="106.11" y2="156.26" gradientTransform="translate(-13.36 3.26) rotate(.14)" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#652b84" />
                        <stop offset=".14" stop-color="#60297e" />
                        <stop offset=".34" stop-color="#502269" />
                        <stop offset=".58" stop-color="#481f5f" />
                        <stop offset=".84" stop-color="#1d0d26" />
                        <stop offset="1" stop-color="#100715" />
                        @*<stop offset="0" stop-color="#804e99" />
                        <stop offset=".15" stop-color="#7b4b93" />
                        <stop offset=".34" stop-color="#6d4282" />
                        <stop offset=".56" stop-color="#563567" />
                        <stop offset=".79" stop-color="#362241" />
                        <stop offset="1" stop-color="#160f1b" />
                        *@
                    </linearGradient>
                </defs>
                <g class="graphic-group">
                    <g id="@($"{_id}-text-group")" class="text-group">
                        <path class="text-character" d="M190.46,126.39l7.04,15.95h-3.25l-1.66-3.88h-7.09l-1.54,3.88h-3.23l6.58-15.95h3.15ZM186.44,136.12h5.15l-2.69-6.31-2.45,6.31Z" />
                        <path class="text-character" d="M201.99,126.39v9.28c0,.95.14,1.71.43,2.27.29.56.75,1.03,1.4,1.39s1.4.55,2.26.55c.94,0,1.74-.17,2.4-.52s1.14-.82,1.44-1.42c.3-.6.46-1.42.46-2.48v-9.08h3.08v9.47c0,2.15-.64,3.8-1.93,4.95-1.29,1.15-3.11,1.73-5.46,1.73-1.48,0-2.76-.26-3.84-.79s-1.91-1.28-2.48-2.28-.86-2.16-.86-3.5v-9.59h3.09Z" />
                        <path class="text-character" d="M230.29,126.39v2.41h-5.66v13.54h-3.08v-13.54h-5.66v-2.41h14.41Z" />
                        <path class="text-character" d="M240.35,126.19c1.65,0,3.14.34,4.46,1.02s2.37,1.66,3.16,2.95c.78,1.28,1.18,2.69,1.18,4.22s-.38,2.88-1.15,4.15-1.82,2.26-3.15,2.97c-1.33.7-2.84,1.06-4.51,1.06s-3.15-.36-4.5-1.07c-1.35-.72-2.4-1.7-3.16-2.95-.75-1.25-1.13-2.64-1.13-4.15s.38-2.83,1.13-4.12c.75-1.29,1.79-2.29,3.12-3s2.85-1.07,4.57-1.07ZM234.72,134.37c0,1.06.24,2.01.72,2.85s1.15,1.5,2,1.96c.86.46,1.83.7,2.91.7,1.64,0,2.98-.51,4.04-1.54,1.05-1.03,1.58-2.35,1.58-3.97,0-1.06-.24-2.01-.71-2.86s-1.15-1.5-2.01-1.97c-.86-.46-1.84-.7-2.92-.7s-2.05.23-2.92.7c-.86.47-1.53,1.12-1.99,1.96-.46.84-.7,1.79-.7,2.86Z" />
                        <path class="text-character" d="M255.19,126.39l5.24,6.29,5.24-6.29h2.75v15.95h-3.08v-11.2h-.09l-4.61,5.62h-.43l-4.61-5.62h-.09v11.2h-3.08v-15.95h2.77Z" />
                        <path class="text-character" d="M280.4,126.39l7.04,15.95h-3.25l-1.66-3.88h-7.09l-1.54,3.88h-3.23l6.58-15.95h3.15ZM276.38,136.12h5.15l-2.69-6.31-2.45,6.31Z" />
                        <path class="text-character" d="M300.64,126.39v2.41h-5.66v13.54h-3.08v-13.54h-5.66v-2.41h14.41Z" />
                        <path class="text-character" d="M313.43,126.39v2.41h-7.23v4.19h6.92v2.41h-6.92v4.53h7.39v2.41h-10.47v-15.95h10.31Z" />
                        <path class="text-character" d="M323.7,126.39c1.66,0,3.13.34,4.43,1.02s2.3,1.63,3.01,2.85c.71,1.23,1.07,2.6,1.07,4.13s-.36,2.94-1.08,4.15c-.72,1.21-1.74,2.14-3.07,2.8s-2.84.99-4.55.99h-6.5v-15.95h6.68ZM323.38,139.93c1.7,0,3.07-.51,4.1-1.54s1.55-2.36,1.55-4.02-.52-3.08-1.56-4.08-2.44-1.5-4.19-1.5h-3.17v11.13h3.28Z" />
                        <path class="text-character" d="M347.89,126.39c1.5,0,2.72.41,3.67,1.24.94.83,1.42,1.91,1.42,3.24,0,.91-.23,1.7-.7,2.37-.47.67-1.16,1.2-2.08,1.59.51.27.96.65,1.36,1.12.4.47.89,1.27,1.47,2.39.97,1.93,1.7,3.26,2.17,4h-3.44c-.24-.35-.56-.91-.96-1.68-.88-1.7-1.53-2.84-1.94-3.43s-.81-1.01-1.19-1.26c-.38-.25-.82-.37-1.31-.37h-1.12v6.74h-3.08v-15.95h5.74ZM347.19,133.2c.81,0,1.44-.2,1.9-.6.46-.4.69-.96.69-1.66s-.23-1.28-.69-1.64c-.46-.36-1.11-.54-1.95-.54h-1.92v4.44h1.96Z" />
                        <path class="text-character" d="M367.79,126.39v2.41h-7.23v4.19h6.92v2.41h-6.92v4.53h7.39v2.41h-10.47v-15.95h10.31Z" />
                        <path class="text-character" d="M379.19,126.39l7.04,15.95h-3.25l-1.66-3.88h-7.09l-1.54,3.88h-3.23l6.58-15.95h3.15ZM375.17,136.12h5.15l-2.69-6.31-2.45,6.31Z" />
                        <path class="text-character" d="M391.47,126.39v13.54h7.74v2.41h-10.82v-15.95h3.08Z" />
                        <path class="text-character" d="M404.38,126.39l5.24,6.29,5.24-6.29h2.75v15.95h-3.08v-11.2h-.09l-4.61,5.62h-.43l-4.61-5.62h-.09v11.2h-3.08v-15.95h2.77Z" />
                        <path class="text-character" d="M426.03,126.19c1.55,0,3.05.39,4.49,1.17v2.74c-1.65-1-3.12-1.5-4.4-1.5-.78,0-1.38.15-1.82.45-.44.3-.66.7-.66,1.2,0,.6.41,1.16,1.22,1.67.23.15,1.11.58,2.64,1.28,1.31.62,2.25,1.3,2.83,2.06.58.75.87,1.66.87,2.72,0,1.37-.49,2.48-1.48,3.32s-2.26,1.26-3.83,1.26c-1.02,0-1.9-.11-2.63-.34-.73-.22-1.56-.61-2.47-1.16v-3.04c1.71,1.42,3.31,2.12,4.82,2.12.75,0,1.36-.16,1.83-.49.46-.33.7-.76.7-1.3,0-.74-.4-1.34-1.21-1.8-.67-.37-1.53-.8-2.59-1.31-1.26-.57-2.19-1.24-2.81-2-.62-.76-.93-1.64-.93-2.65,0-1.34.5-2.41,1.5-3.2,1-.8,2.31-1.19,3.95-1.19Z" />
                        <path class="text-character" d="M179.17,164.6l2.53-11.98h6.65l-.2.99h-5.64l-.95,4.49h4.05l-.19.9h-4.05l-.99,4.64h5.64l-.2.97h-6.65Z" />
                        <path class="text-character" d="M187.84,164.6l2.02-9.55h.92l-.34,1.6c.61-.93,1.63-1.73,3.14-1.73,2.12,0,3.25,1.41,2.75,3.74l-1.26,5.95h-.97l1.24-5.85c.39-1.85-.22-3.01-2.04-3.01s-2.87,1.05-3.28,2.97l-1.24,5.88h-.95Z" />
                        <path class="text-character" d="M197.19,164.6l2.7-12.73h.95l-1.02,4.78c.66-1.12,1.75-1.73,3.14-1.73,1.99,0,3.25,1.28,2.74,3.66l-1.27,6.03h-.97l1.24-5.88c.39-1.83-.19-2.97-2.04-2.97s-2.87,1.05-3.28,2.97l-1.24,5.88h-.95Z" />
                        <path class="text-character" d="M207.05,160.98l.49-2.33c.49-2.36,1.92-3.74,3.99-3.74,1.53,0,2.53.8,2.74,1.72l.34-1.58h.92l-2.02,9.55h-.92l.32-1.56c-.61.93-1.61,1.73-3.14,1.73-2.11,0-3.23-1.41-2.72-3.79ZM213.33,160.86l.48-2.21c.39-1.84-.39-2.91-2.02-2.91-1.72,0-2.87,1.12-3.28,3.01l-.46,2.11c-.42,1.95.29,3.08,2.01,3.08s2.86-1.14,3.28-3.08Z" />
                        <path class="text-character" d="M215.79,164.6l2.02-9.55h.92l-.34,1.6c.61-.93,1.63-1.73,3.15-1.73,2.12,0,3.25,1.41,2.75,3.74l-1.26,5.95h-.97l1.24-5.85c.39-1.85-.22-3.01-2.04-3.01s-2.87,1.05-3.28,2.97l-1.24,5.88h-.95Z" />
                        <path class="text-character" d="M225.66,161l.48-2.24c.49-2.35,1.9-3.82,4.2-3.82s3.46,1.31,3.07,3.57l-.04.22h-.97l.04-.22c.29-1.71-.45-2.7-2.1-2.7-1.75,0-2.86,1.04-3.26,3.01l-.48,2.26c-.37,1.75.37,2.86,2.11,2.86,1.62,0,2.71-.98,3.14-2.67l.06-.24h.97l-.05.22c-.53,2.21-1.91,3.54-4.13,3.54s-3.52-1.46-3.03-3.77Z" />
                        <path class="text-character" d="M234.06,164.6l2.02-9.55h.97l-2.02,9.55h-.97ZM236.38,152.77c.08-.37.44-.66.82-.66s.59.29.51.66c-.07.36-.42.66-.8.66s-.59-.31-.53-.66Z" />
                        <path class="text-character" d="M237.23,164.6l2.02-9.55h.92l-.34,1.6c.61-.93,1.63-1.73,3.14-1.73,2.12,0,3.25,1.41,2.75,3.74l-1.26,5.95h-.97l1.24-5.85c.39-1.85-.22-3.01-2.04-3.01s-2.87,1.05-3.28,2.97l-1.24,5.88h-.95Z" />
                        <path class="text-character" d="M246.3,165.33h.92c-.22,1.07.15,2.07,2.14,2.07s2.82-.9,3.18-2.6l.37-1.77c-.61.97-1.56,1.73-3.09,1.73-2.11,0-3.23-1.41-2.72-3.79l.49-2.33c.49-2.31,1.85-3.72,3.89-3.72,1.53,0,2.67.71,2.84,1.7l.34-1.58h.92l-2.04,9.6c-.49,2.31-1.39,3.55-4.18,3.55s-3.37-1.38-3.06-2.87ZM253.33,161.03l.54-2.52c.37-1.75-.44-2.77-2.06-2.77-1.72,0-2.87,1.12-3.28,3.01l-.46,2.14c-.42,1.96.27,3.08,1.99,3.08s2.86-1.07,3.26-2.94Z" />
                        <path class="text-character" d="M259.75,164.6l2.53-11.98h1l-2.33,11.01h5.27l-.2.97h-6.27Z" />
                        <path class="text-character" d="M267.53,164.6l2.02-9.55h.97l-2.02,9.55h-.97ZM269.86,152.77c.08-.37.44-.66.82-.66s.59.29.51.66c-.07.36-.42.66-.8.66s-.59-.31-.53-.66Z" />
                        <path class="text-character" d="M271.32,164.6l1.84-8.69h-1.12l.19-.87h1.12c.57-2.71,1.38-3.41,3.91-3.2l-.19.85c-1.93-.2-2.35.47-2.75,2.35h2.24l-.19.87h-2.24l-1.84,8.69h-.97Z" />
                        <path class="text-character" d="M276.1,161l.48-2.29c.49-2.4,1.92-3.81,4.21-3.81s3.54,1.38,3.03,3.72l-.31,1.43h-6.27l-.24,1.12c-.37,1.73.53,2.77,2.14,2.77,1.48,0,2.59-.88,3.11-2.46h.97c-.52,2.06-2.06,3.3-4.1,3.3-2.29,0-3.52-1.38-3.03-3.77ZM277.41,159.3h5.3l.15-.73c.39-1.87-.44-2.82-2.09-2.82s-2.86,1.04-3.21,2.8l-.15.75Z" />
                        <path class="text-character" d="M290.96,164.6l2.33-11h-3.32l.2-.99h7.65l-.2.99h-3.33l-2.33,11h-1Z" />
                        <path class="text-character" d="M296.98,164.6l2.7-12.73h.95l-1.02,4.78c.66-1.12,1.75-1.73,3.14-1.73,1.99,0,3.25,1.28,2.74,3.66l-1.27,6.03h-.97l1.24-5.88c.39-1.83-.19-2.97-2.04-2.97s-2.87,1.05-3.28,2.97l-1.24,5.88h-.95Z" />
                        <path class="text-character" d="M306.34,164.6l2.02-9.55h.92l-.37,1.78c.69-1.21,1.96-1.92,3.43-1.92l-.2.97c-1.84,0-3.21,1.04-3.62,2.92l-1.22,5.8h-.95Z" />
                        <path class="text-character" d="M311.83,160.71l.42-1.99c.49-2.29,1.89-3.77,4.2-3.77s3.52,1.43,2.99,3.93l-.44,2.07c-.49,2.35-1.95,3.82-4.2,3.82s-3.55-1.38-2.97-4.06ZM318.01,161.05l.51-2.43c.36-1.73-.48-2.77-2.09-2.77s-2.86,1.04-3.21,2.77l-.51,2.43c-.37,1.79.46,2.82,2.12,2.82s2.8-1.04,3.18-2.82Z" />
                        <path class="text-character" d="M320.79,161.25l1.33-6.2h.95l-1.36,6.36c-.32,1.55.68,2.52,2.19,2.52s2.8-1,3.13-2.52l1.36-6.36h.97l-1.33,6.2c-.44,2.11-1.99,3.52-4.15,3.52s-3.54-1.41-3.09-3.52Z" />
                        <path class="text-character" d="M329.15,165.33h.92c-.22,1.07.15,2.07,2.14,2.07s2.82-.9,3.18-2.6l.37-1.77c-.61.97-1.56,1.73-3.09,1.73-2.11,0-3.23-1.41-2.72-3.79l.49-2.33c.49-2.31,1.85-3.72,3.89-3.72,1.53,0,2.67.71,2.84,1.7l.34-1.58h.92l-2.04,9.6c-.49,2.31-1.39,3.55-4.18,3.55s-3.37-1.38-3.06-2.87ZM336.19,161.03l.54-2.52c.37-1.75-.44-2.77-2.06-2.77-1.72,0-2.87,1.12-3.28,3.01l-.46,2.14c-.43,1.96.27,3.08,1.99,3.08s2.86-1.07,3.26-2.94Z" />
                        <path class="text-character" d="M338.69,164.6l2.7-12.73h.95l-1.02,4.78c.66-1.12,1.75-1.73,3.14-1.73,1.99,0,3.25,1.28,2.74,3.66l-1.27,6.03h-.97l1.24-5.88c.39-1.83-.19-2.97-2.04-2.97s-2.87,1.05-3.28,2.97l-1.24,5.88h-.95Z" />
                        <path class="text-character" d="M350.9,164.6l6.78-11.98h1.17l1.65,11.98h-1.04l-.39-3.04h-5.37l-1.72,3.04h-1.09ZM354.15,160.69h4.83l-.9-6.95-3.93,6.95Z" />
                        <path class="text-character" d="M362.46,161.25l1.33-6.2h.95l-1.36,6.36c-.32,1.55.68,2.52,2.19,2.52s2.8-1,3.13-2.52l1.36-6.36h.97l-1.33,6.2c-.44,2.11-1.99,3.52-4.15,3.52s-3.54-1.41-3.09-3.52Z" />
                        <path class="text-character" d="M374.86,164.69c-2.81.31-3.52-.85-2.92-3.65l1.09-5.12h-1.09l.15-.68c1.26,0,1.48-.39,1.82-2.04h.66l-.39,1.85h2.69l-.19.87h-2.69l-1.07,5.01c-.55,2.56-.31,3.1,2.11,2.87l-.17.88Z" />
                        <path class="text-character" d="M376.56,160.71l.42-1.99c.49-2.29,1.89-3.77,4.2-3.77s3.52,1.43,2.99,3.93l-.44,2.07c-.49,2.35-1.96,3.82-4.2,3.82s-3.55-1.38-2.97-4.06ZM382.74,161.05l.51-2.43c.36-1.73-.48-2.77-2.09-2.77s-2.86,1.04-3.21,2.77l-.51,2.43c-.37,1.79.46,2.82,2.12,2.82s2.8-1.04,3.18-2.82Z" />
                        <path class="text-character" d="M384.99,164.6l2.02-9.55h.92l-.27,1.27c.49-.75,1.26-1.41,2.5-1.41s2.16.63,2.35,1.75c.54-1,1.5-1.75,2.84-1.75,1.75,0,2.6,1.26,2.18,3.3l-1.34,6.39h-.97l1.38-6.53c.31-1.46-.2-2.36-1.55-2.36s-2.26.87-2.57,2.26l-1.39,6.63h-.97l1.38-6.53c.32-1.5-.25-2.36-1.56-2.36s-2.28.85-2.58,2.26l-1.39,6.63h-.95Z" />
                        <path class="text-character" d="M398.8,160.98l.49-2.33c.49-2.36,1.92-3.74,3.99-3.74,1.53,0,2.53.8,2.74,1.72l.34-1.58h.92l-2.02,9.55h-.92l.32-1.56c-.61.93-1.61,1.73-3.14,1.73-2.11,0-3.23-1.41-2.72-3.79ZM405.07,160.86l.48-2.21c.39-1.84-.39-2.91-2.02-2.91-1.72,0-2.87,1.12-3.28,3.01l-.46,2.11c-.43,1.95.29,3.08,2.01,3.08s2.86-1.14,3.28-3.08Z" />
                        <path class="text-character" d="M411.28,164.69c-2.81.31-3.52-.85-2.92-3.65l1.09-5.12h-1.09l.15-.68c1.26,0,1.48-.39,1.82-2.04h.66l-.39,1.85h2.69l-.19.87h-2.69l-1.07,5.01c-.55,2.56-.31,3.1,2.11,2.87l-.17.88Z" />
                        <path class="text-character" d="M413,164.6l2.02-9.55h.97l-2.02,9.55h-.97ZM415.32,152.77c.08-.37.44-.66.82-.66s.59.29.51.66c-.07.36-.42.66-.8.66s-.59-.31-.53-.66Z" />
                        <path class="text-character" d="M416.74,160.71l.42-1.99c.49-2.29,1.89-3.77,4.2-3.77s3.52,1.43,2.99,3.93l-.44,2.07c-.49,2.35-1.96,3.82-4.2,3.82s-3.55-1.38-2.97-4.06ZM422.92,161.05l.51-2.43c.36-1.73-.48-2.77-2.09-2.77s-2.86,1.04-3.21,2.77l-.51,2.43c-.37,1.79.46,2.82,2.12,2.82s2.8-1.04,3.18-2.82Z" />
                        <path class="text-character" d="M425.17,164.6l2.02-9.55h.92l-.34,1.6c.61-.93,1.63-1.73,3.14-1.73,2.12,0,3.25,1.41,2.75,3.74l-1.26,5.95h-.97l1.24-5.85c.39-1.85-.22-3.01-2.04-3.01s-2.87,1.05-3.28,2.97l-1.24,5.88h-.95Z" />
                    </g>
                    <g id="@($"{_id}-shadow")">
                        @if (ShowShadow)
                        {
                            <ellipse class="shadow" fill="@gradShadow" cx="93.39" cy="186.88" rx="86.19" ry="20.04" />
                        }
                    </g>
                    <g id="@($"{_id}-petals")">
                        @* Top Right *@
                        <path id="@($"{_id}-petal_top_right")" class="petal petal-top-right" fill="@gradTopRight" d="M136.99,111.88c.41-2.09.73-4.21.96-6.36,4.44-41.18-25.35-78.16-66.54-82.59-10.84-1.17-21.39.04-31.13,3.19C51.98,10.43,70.53.4,90.98.01c.03,0,.06,0,.09,0,2.7-.05,5.43.07,8.18.37,2.6.28,5.15.71,7.64,1.29,31.59,7.24,53.46,37.13,49.9,70.14-1.71,15.91-9.04,29.85-19.81,40.07Z" />
                        @* Top Left *@
                        <path id="@($"{_id}-petal_top_left")" class="petal petal-top-left" fill="@gradTopeLeft" d="M118.28,53.68c-2-.73-4.04-1.37-6.13-1.94-39.98-10.8-81.15,12.85-91.96,52.84-2.84,10.52-3.3,21.13-1.7,31.25C4.81,121.82-2.19,101.94.61,81.68c0-.03,0-.06.01-.09.37-2.67.92-5.35,1.64-8.02.68-2.53,1.51-4.98,2.47-7.35,12.08-30.07,45.01-47.01,77.07-38.35,15.45,4.17,28.08,13.58,36.49,25.81Z" />
                        @* Bottom Left *@
                        <path id="@($"{_id}-petal_bottom_left")" class="petal petal-bottom-left" fill="@gradBottomLeft" d="M49.03,67.56c-.71,2-1.34,4.05-1.89,6.15-10.45,40.08,13.56,81.04,53.65,91.49,10.55,2.75,21.16,3.11,31.26,1.43-13.89,13.79-33.7,20.98-53.99,18.35-.03,0-.06,0-.09-.01-2.67-.35-5.36-.87-8.04-1.57-2.53-.66-4.99-1.46-7.37-2.4-30.18-11.82-47.41-44.6-39.03-76.72,4.04-15.49,13.33-28.2,25.49-36.71Z" />
                        @* Bottom Right *@
                        <path id="@($"{_id}-petal_bottom_right")" class="petal petal-bottom-right" fill="@gradBottomRight" d="M63.91,138.05c2.04.6,4.12,1.13,6.24,1.56,40.57,8.36,80.23-17.75,88.59-58.32,2.2-10.68,2.01-21.3-.19-31.29,14.5,13.15,22.7,32.57,21.12,52.97,0,.03,0,.06,0,.09-.21,2.69-.59,5.4-1.15,8.11-.53,2.56-1.2,5.06-2.02,7.48-10.24,30.75-42.08,49.65-74.6,42.95-15.67-3.23-28.85-11.86-37.99-23.55Z" />
                    </g>
                </g>
            </svg>

            break;
    }
</div>

