@using System.Diagnostics.CodeAnalysis;

@*
    The Automated Realms Logo is property of Automated Realms, LLC and cannot be used without permission.
    It can be used in this project as it is part of the project's branding, but only if the code has not been modified.
*@

<div id="@($"{_id}-wrapper")" class="@($"logo-wrapper{TextPosition switch { TextPosition.Below => " text-below", TextPosition.Right => " text-right", _ => null }}")" style="@Styles" @attributes=AdditionalAttributes>
    @switch (LogoType)
    {
        case LogoType.Png:
            <img src="@ImageSrc" alt="@SharedLocalizerService.AutomatedRealmsLogoAltText" class="logo">
            break;
        case LogoType.Svg:
        case LogoType.AnimatedSvg:
            var gradShadow = $"var(--o1l-shadow-color, url(#{_id}-shadow-gradient))";
            var gradTopRight = $"url(#{_id}-gradient_top_right)";
            var gradTopeLeft = $"url(#{_id}-gradient_top_left)";
            var gradBottomLeft = $"url(#{_id}-gradient_bottom_left)";
            var gradBottomRight = $"url(#{_id}-gradient_bottom_right)";

            <svg id="@($"{_id}-logo")" style="width: calc(var(--o1l-use-size) * .4)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 185 207.36" @ref=_logoSvg>
                <defs>
                    <style>
                        .text-character {
                            fill: currentColor;
                        }

                        .graphic-group {
                            isolation: isolate;
                        }
                    </style>
                    <linearGradient id="@($"{_id}-shadow-gradient")" x1="68.67" y1="187.52" x2="308.28" y2="185.92" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#fff" />
                        <stop offset=".11" stop-color="#fafafa" />
                        <stop offset=".24" stop-color="#ededed" />
                        <stop offset=".37" stop-color="#d6d6d6" />
                        <stop offset=".5" stop-color="#b7b7b7" />
                        <stop offset=".64" stop-color="#8f8f8f" />
                        <stop offset=".78" stop-color="#5e5e5e" />
                        <stop offset=".92" stop-color="#252525" />
                        <stop offset="1" stop-color="#000" />
                    </linearGradient>
                    <linearGradient id="@($"{_id}-gradient_top_right")" x1="58.13" y1="10.71" x2="154.79" y2="76.45" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#652b84" />
                        <stop offset=".14" stop-color="#60297e" />
                        <stop offset=".34" stop-color="#502269" />
                        <stop offset=".58" stop-color="#481f5f" />
                        <stop offset=".84" stop-color="#1d0d26" />
                        <stop offset="1" stop-color="#100715" />
                        @*<stop offset="0" stop-color="#804e99" />
                <stop offset=".14" stop-color="#7a4a92" />
                <stop offset=".34" stop-color="#6b4180" />
                <stop offset=".58" stop-color="#513262" />
                <stop offset=".84" stop-color="#2e1d38" />
                <stop offset="1" stop-color="#160f1b" />*@
                    </linearGradient>
                    <linearGradient id="@($"{_id}-gradient_top_left")" x1="1.34" y1="104.68" x2="92.67" y2="29.08" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#652b84" />
                        <stop offset=".14" stop-color="#60297e" />
                        <stop offset=".34" stop-color="#502269" />
                        <stop offset=".58" stop-color="#481f5f" />
                        <stop offset=".84" stop-color="#1d0d26" />
                        <stop offset="1" stop-color="#100715" />
                        @*<stop offset="0" stop-color="#804e99" />
                <stop offset=".16" stop-color="#7b4b93" />
                <stop offset=".34" stop-color="#6f4485" />
                <stop offset=".54" stop-color="#5b386d" />
                <stop offset=".75" stop-color="#3f274b" />
                <stop offset=".97" stop-color="#1b1221" />
                <stop offset="1" stop-color="#160f1b" />
                *@
                    </linearGradient>
                    <linearGradient id="@($"{_id}-gradient_bottom_left")" x1="26.88" y1="94.7" x2="90.09" y2="185.28" gradientTransform="translate(5.92 -2.66) rotate(-.22)" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#652b84" />
                        <stop offset=".14" stop-color="#60297e" />
                        <stop offset=".34" stop-color="#502269" />
                        <stop offset=".58" stop-color="#481f5f" />
                        <stop offset=".84" stop-color="#1d0d26" />
                        <stop offset="1" stop-color="#100715" />
                        @*<stop offset="0" stop-color="#804e99" />
                <stop offset=".16" stop-color="#7c4b94" />
                <stop offset=".35" stop-color="#704587" />
                <stop offset=".54" stop-color="#5e3970" />
                <stop offset=".73" stop-color="#442a51" />
                <stop offset=".93" stop-color="#22162a" />
                <stop offset="1" stop-color="#160f1b" />
                *@
                    </linearGradient>
                    <linearGradient id="@($"{_id}-gradient_bottom_right")" x1="190.42" y1="76.81" x2="106.11" y2="156.26" gradientTransform="translate(-13.36 3.26) rotate(.14)" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#652b84" />
                        <stop offset=".14" stop-color="#60297e" />
                        <stop offset=".34" stop-color="#502269" />
                        <stop offset=".58" stop-color="#481f5f" />
                        <stop offset=".84" stop-color="#1d0d26" />
                        <stop offset="1" stop-color="#100715" />
                        @*<stop offset="0" stop-color="#804e99" />
                <stop offset=".15" stop-color="#7b4b93" />
                <stop offset=".34" stop-color="#6d4282" />
                <stop offset=".56" stop-color="#563567" />
                <stop offset=".79" stop-color="#362241" />
                <stop offset="1" stop-color="#160f1b" />
                *@
                    </linearGradient>
                </defs>
                <g class="graphic-group">
                    <g id="@($"{_id}-shadow")">
                        @if (ShowShadow)
                        {
                            <ellipse class="shadow" fill="@gradShadow" cx="93.39" cy="186.88" rx="86.19" ry="20.04" />
                        }
                    </g>
                    <g id="@($"{_id}-petals")">
                        @* Top Right *@
                        <path id="@($"{_id}-petal_top_right")" class="petal petal-top-right" fill="@gradTopRight" d="M136.99,111.88c.41-2.09.73-4.21.96-6.36,4.44-41.18-25.35-78.16-66.54-82.59-10.84-1.17-21.39.04-31.13,3.19C51.98,10.43,70.53.4,90.98.01c.03,0,.06,0,.09,0,2.7-.05,5.43.07,8.18.37,2.6.28,5.15.71,7.64,1.29,31.59,7.24,53.46,37.13,49.9,70.14-1.71,15.91-9.04,29.85-19.81,40.07Z" />
                        @* Top Left *@
                        <path id="@($"{_id}-petal_top_left")" class="petal petal-top-left" fill="@gradTopeLeft" d="M118.28,53.68c-2-.73-4.04-1.37-6.13-1.94-39.98-10.8-81.15,12.85-91.96,52.84-2.84,10.52-3.3,21.13-1.7,31.25C4.81,121.82-2.19,101.94.61,81.68c0-.03,0-.06.01-.09.37-2.67.92-5.35,1.64-8.02.68-2.53,1.51-4.98,2.47-7.35,12.08-30.07,45.01-47.01,77.07-38.35,15.45,4.17,28.08,13.58,36.49,25.81Z" />
                        @* Bottom Left *@
                        <path id="@($"{_id}-petal_bottom_left")" class="petal petal-bottom-left" fill="@gradBottomLeft" d="M49.03,67.56c-.71,2-1.34,4.05-1.89,6.15-10.45,40.08,13.56,81.04,53.65,91.49,10.55,2.75,21.16,3.11,31.26,1.43-13.89,13.79-33.7,20.98-53.99,18.35-.03,0-.06,0-.09-.01-2.67-.35-5.36-.87-8.04-1.57-2.53-.66-4.99-1.46-7.37-2.4-30.18-11.82-47.41-44.6-39.03-76.72,4.04-15.49,13.33-28.2,25.49-36.71Z" />
                        @* Bottom Right *@
                        <path id="@($"{_id}-petal_bottom_right")" class="petal petal-bottom-right" fill="@gradBottomRight" d="M63.91,138.05c2.04.6,4.12,1.13,6.24,1.56,40.57,8.36,80.23-17.75,88.59-58.32,2.2-10.68,2.01-21.3-.19-31.29,14.5,13.15,22.7,32.57,21.12,52.97,0,.03,0,.06,0,.09-.21,2.69-.59,5.4-1.15,8.11-.53,2.56-1.2,5.06-2.02,7.48-10.24,30.75-42.08,49.65-74.6,42.95-15.67-3.23-28.85-11.86-37.99-23.55Z" />
                    </g>
                </g>
            </svg>
            @if (TextPosition != TextPosition.Hidden)
            {
                <svg id="@($"{_id}-text")" class="text-graphic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 254.81 42.2">
                    <g id="@($"{_id}-AR_Logo_Horizontal")">
                        <g id="@($"{_id}-Enhancing_Life_Text")">
                            <path id="@($"{_id}_-E-NHANCING_LIFE_THROUGH_AUTOMATION")" class="text-path" d="M0,38.4l2.54-12h6.65l-.21,1H3.33l-.95,4h4.05l-.19,1H2.23l-1.06,5h5.69l-.21,1H0Z" />
                            <path id="@($"{_id}_E-N-HANCING_LIFE_THROUGH_AUTOMATION")" class="text-path" d="M8.46,38.4l2.12-10h.96l-.36,1.67c.64-.98,1.71-1.82,3.29-1.82,2.22,0,3.4,1.48,2.88,3.92l-1.32,6.23h-1.01l1.3-6.12c.41-1.94-.23-3.15-2.14-3.15s-3.01,1.1-3.43,3.11l-1.3,6.16h-1Z" />
                            <path id="@($"{_id}_EN-H-ANCING_LIFE_THROUGH_AUTOMATION")" class="text-path" d="M17.93,38.4l2.76-13h.97l-1.04,4.88c.68-1.15,1.79-1.77,3.21-1.77,2.03,0,3.32,1.3,2.79,3.73l-1.3,6.16h-.99l1.27-6.01c.4-1.87-.19-3.04-2.08-3.04s-2.93,1.08-3.35,3.04l-1.27,6.01h-.97Z" />
                            <path id="@($"{_id}_ENH-A-NCING_LIFE_THROUGH_AUTOMATION")" class="text-path" d="M27.7,34.61l.52-2.44c.52-2.47,2.01-3.92,4.18-3.92,1.6,0,2.65.84,2.86,1.8l.36-1.65h.96l-2.12,10h-.96l.34-1.64c-.64.98-1.69,1.81-3.29,1.81-2.21,0-3.38-1.48-2.85-3.97ZM34.16,34.9l.48-2.21c.39-1.84-.39-2.91-2.02-2.91-1.72,0-2.87,1.12-3.28,3.01l-.46,2.11c-.42,1.95.29,3.08,2.01,3.08s2.86-1.14,3.28-3.08Z" />
                            <path id="@($"{_id}_ENHA-N-CING_LIFE_THROUGH_AUTOMATION")" class="text-path" d="M36.42,38.4l2.12-10h.96l-.36,1.67c.64-.98,1.71-1.82,3.29-1.82,2.22,0,3.4,1.48,2.88,3.92l-1.32,6.23h-1.02l1.3-6.12c.41-1.94-.23-3.15-2.14-3.15s-3.01,1.1-3.43,3.11l-1.3,6.16h-1Z" />
                            <path id="@($"{_id}_ENHAN-C-ING_LIFE_THROUGH_AUTOMATION")" class="text-path" d="M46.49,35.04l.48-2.24c.49-2.35,1.9-3.82,4.2-3.82s3.46,1.31,3.07,3.57l-.04.86h-.97l.04-.86c.29-1.71-.45-2.7-2.1-2.7-1.75,0-2.86,1.04-3.26,3.01l-.48,2.26c-.37,1.75.37,2.86,2.11,2.86,1.62,0,2.71-.98,3.14-2.67l.06.11h.97l-.05-.13c-.53,2.21-1.91,3.54-4.13,3.54s-3.52-1.46-3.03-3.77Z" />
                            <path id="@($"{_id}_ENHANC-I-NG_LIFE_THROUGH_AUTOMATION")" class="text-path" d="M54.82,38.4l2.12-10h1.02l-2.12,10h-1.01ZM57.22,26.81c.08-.37.44-.66.82-.66s.59.29.51.66c-.07.36-.42.66-.8.66s-.59-.31-.53-.66Z" />
                            <path id="@($"{_id}_ENHANCI-N-G_LIFE_THROUGH_AUTOMATION")" class="text-path" d="M57.86,38.4l2.12-10h.96l-.36,1.67c.64-.98,1.71-1.82,3.29-1.82,2.22,0,3.4,1.48,2.88,3.92l-1.32,6.23h-1.02l1.3-6.12c.41-1.94-.23-3.15-2.14-3.15s-3.01,1.1-3.43,3.11l-1.3,6.16h-1Z" />
                            <path id="@($"{_id}_ENHANCIN-G-_LIFE_THROUGH_AUTOMATION")" class="text-path" d="M67.25,39.4h.89c-.22,1.04.15,2.02,2.08,2.02s2.74-.88,3.09-2.53l.36-1.72c-.6.94-1.52,1.69-3.01,1.69-2.05,0-3.14-1.37-2.64-3.69l.48-2.26c.48-2.25,1.8-3.62,3.79-3.62,1.49,0,2.59.69,2.76,1.65l.33-1.54h.89l-1.98,9.34c-.48,2.25-1.36,3.45-4.07,3.45s-3.27-1.34-2.98-2.79ZM74.17,35.07l.54-2.52c.37-1.75-.44-2.77-2.06-2.77-1.72,0-2.87,1.12-3.28,3.01l-.46,2.14c-.42,1.96.27,3.08,1.99,3.08s2.86-1.07,3.26-2.94Z" />
                            <path id="@($"{_id}_ENHANCING_-L-IFE_THROUGH_AUTOMATION")" class="text-path" d="M80.58,38.4l2.54-12h1l-2.33,11h5.27l-.21,1h-6.27Z" />
                            <path id="@($"{_id}_ENHANCING_L-I-FE_THROUGH_AUTOMATION")" class="text-path" d="M88.3,38.4l2.12-10h1.02l-2.12,10h-1.01ZM90.7,26.81c.08-.37.44-.66.82-.66s.59.29.51.66c-.07.36-.42.66-.8.66s-.59-.31-.53-.66Z" />
                            <path id="@($"{_id}_ENHANCING_LI-F-E_THROUGH_AUTOMATION")" class="text-path" d="M92.11,38.4l1.9-9h-1.14,1.31c.57-3.03,1.38-3.72,3.91-3.51l-.19.85c-1.93-.2-2.35.47-2.75,2.66h2.24-2.38l-1.9,9h-1Z" />
                            <path id="@($"{_id}_ENHANCING_LIF-E-_THROUGH_AUTOMATION")" class="text-path" d="M96.94,35.04l.48-2.29c.49-2.4,1.92-3.81,4.21-3.81s3.54,1.38,3.03,3.72l-.31,1.74h-6.27l-.24.81c-.37,1.73.53,2.77,2.14,2.77,1.48,0,2.59-.88,3.11-2.58h.97c-.52,2.17-2.06,3.41-4.1,3.41-2.29,0-3.52-1.38-3.03-3.77ZM98.24,33.4h5.3l.15-.73c.39-1.87-.44-2.82-2.09-2.82s-2.86,1.04-3.21,2.8l-.15.75Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_-T-HROUGH_AUTOMATION")" class="text-path" d="M111.8,38.4l2.33-11h-3.37l.21-1h7.76l-.21,1h-3.39l-2.33,11h-1Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_T-H-ROUGH_AUTOMATION")" class="text-path" d="M117.72,38.4l2.76-13h.97l-1.04,4.88c.68-1.15,1.79-1.77,3.21-1.77,2.03,0,3.31,1.3,2.79,3.73l-1.3,6.16h-.99l1.27-6.01c.4-1.87-.19-3.04-2.08-3.04s-2.93,1.08-3.35,3.04l-1.27,6.01h-.97Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_TH-R-OUGH_AUTOMATION")" class="text-path" d="M127.03,38.4l2.12-10h.96l-.39,1.87c.72-1.27,2.05-2.01,3.59-2.01l-.21,1.02c-1.92,0-3.36,1.08-3.79,3.06l-1.28,6.07h-1Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THR-O-UGH_AUTOMATION")" class="text-path" d="M132.66,34.75l.42-1.99c.49-2.29,1.89-3.77,4.2-3.77s3.52,1.43,2.99,3.93l-.44,2.07c-.49,2.35-1.95,3.82-4.2,3.82s-3.55-1.38-2.97-4.06ZM138.85,35.09l.51-2.43c.36-1.73-.48-2.77-2.09-2.77s-2.86,1.04-3.21,2.77l-.51,2.43c-.37,1.79.46,2.82,2.12,2.82s2.8-1.04,3.18-2.82Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THRO-U-GH_AUTOMATION")" class="text-path" d="M141.62,35.61l1.33-6.2h.95l-1.36,6.36c-.32,1.55.68,2.52,2.19,2.52s2.8-1,3.13-2.52l1.36-6.36h.97l-1.33,6.2c-.44,2.11-1.99,3.52-4.15,3.52s-3.54-1.41-3.09-3.52Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROU-G-H_AUTOMATION")" class="text-path" d="M150.11,39.4h.89c-.21,1.04.15,2.02,2.08,2.02s2.74-.88,3.09-2.53l.36-1.72c-.6.94-1.52,1.69-3.01,1.69-2.05,0-3.14-1.37-2.64-3.69l.48-2.26c.48-2.25,1.8-3.62,3.79-3.62,1.49,0,2.6.69,2.76,1.65l.33-1.54h.89l-1.98,9.34c-.48,2.25-1.36,3.45-4.07,3.45s-3.27-1.34-2.98-2.79ZM157.02,35.07l.54-2.52c.37-1.75-.44-2.77-2.06-2.77-1.72,0-2.87,1.12-3.28,3.01l-.46,2.14c-.43,1.96.27,3.08,1.99,3.08s2.86-1.07,3.26-2.94Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUG-H-_AUTOMATION")" class="text-path" d="M159.43,38.4l2.76-13h.97l-1.04,4.88c.68-1.15,1.79-1.77,3.21-1.77,2.03,0,3.32,1.3,2.79,3.73l-1.3,6.16h-.99l1.27-6.01c.4-1.87-.19-3.04-2.08-3.04s-2.93,1.08-3.35,3.04l-1.27,6.01h-.97Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_-A-UTOMATION")" class="text-path" d="M171.73,38.4l6.79-12h1.17l1.65,12h-1.1l-.39-3h-5.3l-1.69,3h-1.15ZM174.98,34.4h4.83l-.9-6.95-3.93,6.95Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_A-U-TOMATION")" class="text-path" d="M183.29,35.61l1.33-6.2h.95l-1.36,6.36c-.32,1.55.68,2.52,2.19,2.52s2.8-1,3.13-2.52l1.36-6.36h.97l-1.33,6.2c-.44,2.11-1.99,3.52-4.15,3.52s-3.54-1.41-3.09-3.52Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_AU-T-OMATION")" class="text-path" d="M195.69,38.73c-2.81.31-3.52-.85-2.92-3.65l1.09-4.67h-1.09l.15-1.13c1.26,0,1.82-1.87,1.82-1.87h.68l-.42,2h2.7l-.19,1h-2.69l-1.07,4.57c-.55,2.56-.31,3.1,2.11,2.87l-.17.88Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_AUT-O-MATION")" class="text-path" d="M197.39,34.75l.42-1.99c.49-2.29,1.89-3.77,4.2-3.77s3.52,1.43,2.99,3.93l-.44,2.07c-.49,2.35-1.96,3.82-4.2,3.82s-3.55-1.38-2.97-4.06ZM203.58,35.09l.51-2.43c.36-1.73-.48-2.77-2.09-2.77s-2.86,1.04-3.21,2.77l-.51,2.43c-.37,1.79.46,2.82,2.12,2.82s2.8-1.04,3.18-2.82Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_AUTO-M-ATION")" class="text-path" d="M205.52,38.4l2.12-10h.96l-.28,1.33c.52-.78,1.32-1.48,2.62-1.48s2.26.66,2.46,1.83c.57-1.05,1.57-1.83,2.97-1.83,1.83,0,2.72,1.32,2.28,3.45l-1.41,6.69h-1.01l1.44-6.83c.32-1.53-.21-2.47-1.62-2.47s-2.37.91-2.69,2.37l-1.46,6.94h-1.01l1.44-6.83c.34-1.57-.27-2.47-1.64-2.47s-2.38.89-2.7,2.37l-1.46,6.94h-1Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_AUTOM-A-TION")" class="text-path" d="M219.44,34.61l.52-2.44c.52-2.47,2.01-3.92,4.18-3.92,1.6,0,2.65.84,2.87,1.8l.36-1.65h.96l-2.12,10h-.96l.34-1.64c-.64.98-1.69,1.81-3.29,1.81-2.21,0-3.38-1.48-2.85-3.97ZM225.9,34.9l.48-2.21c.39-1.84-.39-2.91-2.02-2.91-1.72,0-2.87,1.12-3.28,3.01l-.46,2.11c-.43,1.95.29,3.08,2.01,3.08s2.86-1.14,3.28-3.08Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_AUTOMA-T-ION")" class="text-path" d="M232.11,38.73c-2.81.31-3.52-.85-2.92-3.65l1.09-4.67h-1.09l.15-1.13c1.26,0,1.82-1.87,1.82-1.87h.68l-.42,2h2.7l-.19,1h-2.69l-1.07,4.57c-.55,2.56-.31,3.1,2.11,2.87l-.17.88Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_AUTOMAT-I-ON")" class="text-path" d="M233.76,38.4l2.12-10h1.01l-2.12,10h-1.01ZM236.16,26.81c.08-.37.44-.66.82-.66s.59.29.51.66c-.07.36-.42.66-.8.66s-.59-.31-.53-.66Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_AUTOMATI-O-N")" class="text-path" d="M237.57,34.75l.42-1.99c.49-2.29,1.89-3.77,4.2-3.77s3.52,1.43,2.99,3.93l-.44,2.07c-.49,2.35-1.96,3.82-4.2,3.82s-3.55-1.38-2.97-4.06ZM243.76,35.09l.51-2.43c.36-1.73-.48-2.77-2.09-2.77s-2.86,1.04-3.21,2.77l-.51,2.43c-.37,1.79.46,2.82,2.12,2.82s2.8-1.04,3.18-2.82Z" />
                            <path id="@($"{_id}_ENHANCING_LIFE_THROUGH_AUTOMATIO-N-")" class="text-path" d="M245.79,38.4l2.12-10h.96l-.36,1.67c.64-.98,1.71-1.82,3.29-1.82,2.22,0,3.4,1.48,2.88,3.92l-1.32,6.23h-1.01l1.3-6.12c.41-1.94-.23-3.15-2.13-3.15s-3.01,1.1-3.43,3.11l-1.3,6.16h-1Z" />
                        </g>
                        <g id="@($"{_id}-Automated_Realms_Text")">
                            <path id="@($"{_id}_-A-UTOMATED_REALMS")" class="text-path" d="M11.3.4l7.07,16h-3.12l-1.71-4h-7.31l-1.59,4H1.54L8.14.4h3.16ZM7.28,10.4h5.15l-2.69-6.31-2.45,6.31Z" />
                            <path id="@($"{_id}_A-U-TOMATED_REALMS")" class="text-path" d="M23.01.4v9.28c0,.95.14,1.71.41,2.27.27.56.72,1.03,1.33,1.39s1.34.55,2.16.55c.9,0,1.66-.17,2.29-.52s1.09-.82,1.38-1.42c.29-.6.44-1.42.44-2.48V.4h3v9.47c0,2.15-.66,3.8-1.99,4.95-1.32,1.15-3.2,1.73-5.62,1.73-1.52,0-2.84-.26-3.96-.79s-1.97-1.28-2.56-2.28-.88-2.16-.88-3.5V.4h4Z" />
                            <path id="@($"{_id}_AU-T-OMATED_REALMS")" class="text-path" d="M51.01.4v2h-6v14h-3V2.4h-5V.4h14Z" />
                            <path id="@($"{_id}_AUT-O-MATED_REALMS")" class="text-path" d="M61.18.23c1.65,0,3.14.34,4.46,1.02s2.37,1.66,3.16,2.95c.78,1.28,1.18,2.69,1.18,4.22s-.38,2.88-1.15,4.15-1.82,2.26-3.15,2.97c-1.33.7-2.84,1.06-4.51,1.06s-3.15-.36-4.5-1.07c-1.35-.72-2.4-1.7-3.16-2.95-.75-1.25-1.13-2.64-1.13-4.15s.38-2.83,1.13-4.12c.75-1.29,1.79-2.29,3.12-3s2.85-1.07,4.57-1.07ZM55.56,8.42c0,1.06.24,2.01.72,2.85s1.15,1.5,2,1.96c.86.46,1.83.7,2.91.7,1.64,0,2.98-.51,4.04-1.54,1.05-1.03,1.58-2.35,1.58-3.97,0-1.06-.24-2.01-.71-2.86s-1.15-1.5-2.01-1.97c-.86-.46-1.84-.7-2.92-.7s-2.05.23-2.92.7c-.86.47-1.53,1.12-1.99,1.96-.46.84-.7,1.79-.7,2.86Z" />
                            <path id="@($"{_id}_AUTO-M-ATED_REALMS")" class="text-path" d="M75.71.4l5.1,6.31,5.1-6.31h3.1v16h-3V5.4h-.09l-4.69,6h-.44l-4.69-6h-.09v11h-3V.4h2.7Z" />
                            <path id="@($"{_id}_AUTOM-A-TED_REALMS")" class="text-path" d="M101.23.4l7.07,16h-3.13l-1.71-4h-7.3l-1.59,4h-3.1L98.07.4h3.16ZM97.21,10.4h5.15l-2.69-6.31-2.45,6.31Z" />
                            <path id="@($"{_id}_AUTOMA-T-ED_REALMS")" class="text-path" d="M121.01.4v2h-5v14h-3V2.4h-6V.4h14Z" />
                            <path id="@($"{_id}_AUTOMAT-E-D_REALMS")" class="text-path" d="M134.01.4v2h-7v5h7v2h-7v5h7v2h-10V.4h10Z" />
                            <path id="@($"{_id}_AUTOMATE-D-_REALMS")" class="text-path" d="M144.71.4c1.66,0,3.15.34,4.44,1.02s2.31,1.63,3.02,2.86c.72,1.23,1.08,2.61,1.08,4.15s-.36,2.95-1.08,4.16c-.72,1.21-1.75,2.15-3.08,2.81s-2.85,1-4.57,1h-6.52V.4h6.7ZM144.25,14.4c1.68,0,3.04-.51,4.06-1.52,1.02-1.01,1.53-2.34,1.53-3.98s-.51-3.04-1.54-4.03-2.41-1.48-4.15-1.48h-3.14v11h3.24Z" />
                            <path id="@($"{_id}_AUTOMATED_-R-EALMS")" class="text-path" d="M168.6.4c1.46,0,2.65.42,3.57,1.25.92.83,1.38,1.92,1.38,3.25,0,.91-.23,1.7-.68,2.38-.46.68-1.13,1.21-2.03,1.6.5.27.94.65,1.32,1.12.38.47.86,1.27,1.43,2.39.95,1.94,1.65,3.28,2.11,4.01h-2.92c-.24-.36-.58-.94-1-1.74-.92-1.76-1.59-2.95-2.02-3.57s-.84-1.05-1.23-1.31c-.39-.26-.85-.39-1.36-.39h-1.16v7h-3V.4h5.59ZM167.78,7.4c.73,0,1.3-.18,1.71-.54.42-.36.62-.86.62-1.49s-.21-1.15-.62-1.48c-.41-.33-1-.49-1.76-.49h-1.73v4h1.77Z" />
                            <path id="@($"{_id}_AUTOMATED_R-E-ALMS")" class="text-path" d="M188.01.4v2h-7l1,5h6v2h-6v5h7v2h-11V.4h10Z" />
                            <path id="@($"{_id}_AUTOMATED_RE-A-LMS")" class="text-path" d="M200.03.4l7.07,16h-3.12l-1.71-4h-7.31l-1.59,4h-3.1L196.87.4h3.16ZM196,10.4h5.15l-2.69-6.31-2.45,6.31Z" />
                            <path id="@($"{_id}_AUTOMATED_REA-L-MS")" class="text-path" d="M212.01.4v14h8v2h-11V.4h3Z" />
                            <path id="@($"{_id}_AUTOMATED_REAL-M-S")" class="text-path" d="M224.71.4l5.1,6.31,5.1-6.31h3.1v16h-3V5.4h-.09l-4.69,6h-.44l-4.69-6h-.09v11h-3V.4h2.7Z" />
                            <path id="@($"{_id}_AUTOMATED_REALM-S-")" class="text-path" d="M246.4,0c1.6,0,3.13.4,4.61,1.2v2.82c-1.7-1.03-3.2-1.54-4.52-1.54-.8,0-1.42.15-1.87.46-.45.31-.68.72-.68,1.24,0,.62.42,1.19,1.26,1.71.23.16,1.14.6,2.71,1.31,1.35.63,2.32,1.34,2.91,2.11.59.77.89,1.71.89,2.79,0,1.41-.51,2.55-1.52,3.41s-2.33,1.3-3.94,1.3c-1.05,0-1.95-.12-2.7-.35-.76-.23-1.6-.63-2.54-1.19v-3.12c1.75,1.45,3.4,2.18,4.95,2.18.78,0,1.4-.17,1.88-.51.48-.34.72-.78.72-1.34,0-.76-.42-1.38-1.24-1.85-.69-.38-1.58-.83-2.66-1.35-1.29-.59-2.26-1.27-2.89-2.05-.64-.78-.96-1.69-.96-2.72,0-1.38.51-2.47,1.54-3.29,1.03-.82,2.38-1.23,4.06-1.23Z" />
                        </g>
                    </g>
                </svg>
            }
            break;
    }
</div>

