@using System.Diagnostics.CodeAnalysis;

<div id="listTypeItemsWrapper">
    <table>
        <colgroup id="name" />
        <colgroup id="value" />
        <colgroup id="controls" />
        <thead>
            <tr>
                <th scope="col">@SharedLocalizerService.Name</th>
                <th scope="col">@SharedLocalizerService.Value</th>
                <th scope="col"><label class="sr-only">@SharedLocalizerService.ControlButtonsColumnHeader</label></th>
            </tr>
        </thead>
        <tbody>
            @if(_loadingList || _items is null)
            {
                <tr>
                    <td colspan="3" class="loading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">@SharedLocalizerService.Loading</span>
                    </td>
                </tr>
            }
            else if(_items.Count == 0)
            {
                <tr>
                    <td colspan="3" class="no-items">
                        <span>@SharedLocalizerService.NoItemsMessage</span>
                    </td>
                </tr>
            }
            else
            {
                foreach(var curItem in _items)
                {
                    <tr>
                        <td>@curItem.DisplayText</td>
                        <td>@curItem.ValueText</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-secondary" @onclick="_ => HandleEditItemClicked(curItem)">@SharedLocalizerService.Edit</button>
                            <button type="button" class="btn btn-sm btn-outline-danger" @onclick="_ => HandleDeleteItemClicked(curItem)">@SharedLocalizerService.Delete</button>
                        </td>
                    </tr>
                }
            
            }
        </tbody>
    </table>
    

</div>


