@using FinanMan.BlazorUi.JsInterop;
@using FinanMan.Shared.AccountSummaryModels;

<table id="accountSummaryGrid" class="data-grid">
    <thead>
        <tr>
            <th>
                @SharedLocalizerService.Name
            </th>
            <th>
                @SharedLocalizerService.CurrentBalance
            </th>
            <th>
                @SharedLocalizerService.AdjustedBalance
            </th>
        </tr>
    </thead>
    <tbody>
        @if(AccountSummaries is null)
        {
            <tr>
                <td colspan="3">
                    @SharedLocalizerService.Loading
                </td>
            </tr>
        }
        else if(!AccountSummaries.Any())
        {
            <tr>
                <td colspan="3">@SharedLocalizerService.NoAccountsMessage</td>
            </tr>
        }
        else
        {
            foreach (var curAccountSummary in AccountSummaries)
            {
                <AccountSummaryRow Model=curAccountSummary />
            }
        }
    </tbody>
</table>

@code {
    [Parameter] public IEnumerable<AccountSummaryViewModel>? AccountSummaries { get; set; }
}
